*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/vcs.xml
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/deploymentTargetSelector.xml
/app/build.gradle.kts
/app/src/main/java/com/example/furryfriends/network
app/src/main/res/drawable/vest_b.jpg
.idea/studiobot.xml
.idea/appInsightsSettings.xml
